<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.nexus.template.iosBase.cleanArchitecture.networkPlatformFramework</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.frameworkBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
		<string>com.apple.dt.unit.iosBase</string>
	</array>
	<key>Concrete</key>
	<false/>
	<key>Description</key>
	<string>This template creates a framework that uses UIKit.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>AssociatedTargetSpecification</key>
	<dict>
		<key>PopUpTitle</key>
		<string>Embed in Application:</string>
		<key>PopUpDescription</key>
		<string>The application target that will host this new framework. The application will be set up to link to and embed the new framework.</string>
		<key>AllowableProductTypes</key>
		<array>
			<string>com.apple.product-type.application</string>
			<string>com.apple.product-type.application.messages</string>
		</array>
		<key>AllowablePlatforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>AssociatedTargetIsDependent</key>
		<true/>
		<key>AssociatedTargetNeedsProductBuildPhaseInjection</key>
		<true/>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks @loader_path/Frameworks</string>
			</dict>
		</dict>
	</array>
	<key>Components</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>com.apple.dt.unit.cocoaTouchFrameworkUnitTestBundle</string>
			<key>Name</key>
			<string>___PACKAGENAME___Tests</string>
		</dict>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___TARGETNAME:c99ExtIdentifier___.h</key>
		<dict>
			<key>TargetIdentifiers</key>
			<array>
				<string>com.apple.dt.cocoaTouchLibraryOrFrameworkTarget</string>
			</array>
			<key>BuildAttributes</key>
			<array>
				<string>Public</string>
			</array>
		</dict>
		<key>PaginationAPI.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/PaginationAPI.swift</string>
		</dict>
		<key>TokenKeychainStore.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/TokenKeychainStore.swift</string>
		</dict>
		<key>JSONMapper/Error+Extension.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/JSONMapper/Error+Extension.swift</string>
			<key>Group</key>
			<array>
				<string>JSON Mapper</string>
			</array>
		</dict>
		<key>JSONMapper/ObjecMapper+Transform.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/JSONMapper/ObjecMapper+Transform.swift</string>
			<key>Group</key>
			<array>
				<string>JSON Mapper</string>
			</array>
		</dict>
		<key>JSONMapper/ObjectMapper+RxMoya.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/JSONMapper/ObjectMapper+RxMoya.swift</string>
			<key>Group</key>
			<array>
				<string>JSON Mapper</string>
			</array>
		</dict>
		<key>Entities/AccessToken.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Entities/AccessToken.swift</string>
			<key>Group</key>
			<array>
				<string>Entities</string>
			</array>
		</dict>
		<key>Entities/ServerError.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Entities/ServerError.swift</string>
			<key>Group</key>
			<array>
				<string>Entities</string>
			</array>
		</dict>
		<key>Plugins/NetworkErrorLogger.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Plugins/NetworkErrorLogger.swift</string>
			<key>Group</key>
			<array>
				<string>Plugins</string>
			</array>
		</dict>
		<key>Plugins/NetworkErrorTransformPlugin.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Plugins/NetworkErrorTransformPlugin.swift</string>
			<key>Group</key>
			<array>
				<string>Plugins</string>
			</array>
		</dict>
		<key>Providers/APIProvider.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Providers/APIProvider.swift</string>
			<key>Group</key>
			<array>
				<string>Providers</string>
			</array>
		</dict>
		<key>Targets/APITargetType.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Targets/APITargetType.swift</string>
			<key>Group</key>
			<array>
				<string>Targets</string>
			</array>
		</dict>
		<key>Targets/ExampleTarget.swift</key>
		<dict>
			<key>Path</key>
			<string>Swift/Targets/ExampleTarget.swift</string>
			<key>Group</key>
			<array>
				<string>Targets</string>
			</array>
		</dict>
		<key>StubbedResponses/example_bad_request.json</key>
		<dict>
			<key>Path</key>
			<string>Swift/StubbedResponses/example_bad_request.json</string>
			<key>PathType</key>
			<string>Group</string>
			<key>Group</key>
			<array>
				<string>StubbedResponses</string>
			</array>
		</dict>
		<key>Repository</key>
		<dict>
			<key>Path</key>
			<string>Swift/Repository</string>
			<key>PathType</key>
			<string>Group</string>
			<key>Group</key>
			<array>
				<string>Repository</string>
			</array>
		</dict>
		<key>UseCases</key>
		<dict>
			<key>Path</key>
			<string>Swift/UseCases</string>
			<key>PathType</key>
			<string>Group</string>
			<key>Group</key>
			<array>
				<string>UseCases</string>
			</array>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>PaginationAPI.swift</string>
		<string>TokenKeychainStore.swift</string>
		<string>JSONMapper/Error+Extension.swift</string>
		<string>JSONMapper/ObjecMapper+Transform.swift</string>
		<string>JSONMapper/ObjectMapper+RxMoya.swift</string>
		<string>Entities/AccessToken.swift</string>
		<string>Entities/ServerError.swift</string>
		<string>Plugins/NetworkErrorLogger.swift</string>
		<string>Plugins/NetworkErrorTransformPlugin.swift</string>
		<string>Providers/APIProvider.swift</string>
		<string>Targets/APITargetType.swift</string>
		<string>Targets/ExampleTarget.swift</string>
		<string>StubbedResponses/example_bad_request.json</string>
		<string>Repository</string>
		<string>UseCases</string>
	</array>
</dict>
</plist>
